@charset 'UTF-8';
@use "sass:math";
@use "../../global" as *;

.p-box {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  padding: pxToRem(32px) 0;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  text-align: center;

  &.-human {
    background-color: $md-pink-300;
  }

  &__body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    margin-top: pxToRem(40px);
  }
}
