@charset 'UTF-8';
@use "sass:math";
@use "../../global" as *;

/*
  Header
*/
.p-header {
  &__info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}
