@charset 'UTF-8';
@use "sass:math";
@use "../../global" as *;

.p-human {
  $this: &;

  &__inner {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;

    animation-name: slideLeft;
    animation-duration: 1s;

    @keyframes slideLeft {
      0% {
        transform: translateX(-100%) scale(0.5);
        transform-origin: center;
        opacity: 0;
      }

      50% {
        transform: translateX(0) scale(0.5);
        transform-origin: center;
        opacity: 0.5;
      }

      100% {
        transform: translateX(0) scale(1);
        opacity: 1;
      }
    }
  }

  &__head {
    width: 3rem;
    height: 3rem;
    margin: 0 auto;
    transform: rotate(0) translate(0, -0.3rem);
    animation-name: swing;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border-radius: 50%;
    background-color: $base-color;

    @keyframes swing {
      0% {
        transform: rotate(30deg) translate(3px, -0.3rem);
      }

      20% {
        transform: rotate(-30deg) translate(-3px, -0.3rem);
      }

      40% {
        transform: rotate(30deg) translate(3px, -0.3rem);
      }

      60% {
        transform: rotate(-30deg) translate(-3px, -0.3rem);
      }

      80% {
        transform: rotate(30deg) translate(3px, -0.3rem);
      }

      100% {
        transform: rotate(-30deg) translate(-3px, -0.3rem);
      }
    }
  }

  &__body {
    position: relative;
    width: 200px;
    height: 200px;
    margin-right: 60px;
    background-color: $base-color;

    clip-path: polygon(
      30% 0,
      100% 0,
      100% 50%,
      90% 50%,
      90% 20%,
      85% 20%,
      85% 100%,
      70% 100%,
      70% 60%,
      60% 60%,
      60% 100%,
      45% 100%,
      45% 20%,
      40% 20%,
      40% 50%,
      30% 50%,
      30% 10%
    );

    &::before {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 130%;
      animation-name: up;
      animation-duration: 5s;
      animation-timing-function: linear;
      background-color: #a6e0fc;
      animation-fill-mode: forwards;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 60%;
      width: 200%;
      height: 200%;
      transform: translate(-50%, -50%);
      animation-name: wave, up;
      animation-duration: 5s;
      animation-timing-function: linear;
      animation-iteration-count: infinite, 1;
      border-radius: 45%;
      background-color: #fff;
      animation-fill-mode: forwards;
    }

    @keyframes wave {
      0% {
        transform: translate(-50%, -75%) rotate(0);
      }

      100% {
        transform: translate(-50%, -75%) rotate(360deg);
      }
    }

    @keyframes up {
      0% {
        top: 70%;
      }

      100% {
        top: -30%;
      }
    }
  }

  &__percentage {
    position: absolute;
    top: 30%;
    right: -10%;

    &::before {
      content: "0%";
      animation-name: percentage;
      animation-duration: 5.5s;
      animation-delay: 1s;
      color: $base-color;
      font-size: 2rem;
      font-weight: 700;
      animation-fill-mode: forwards;
    }

    @keyframes percentage {
      @for $i from 0 through 70 {
        $percentage: $i + "%";

        #{$percentage} {
          content: $percentage;
        }
      }

      100% {
        content: "70%";
      }
    }
  }
}
