@charset 'UTF-8';
@use "sass:math";
@use "../global" as *;

/*
Grid
*/

.l-grid {
  $this: &;

  // Grid専用
  // ----------------------------

  &[data-mode="grid"] {
    display: grid;
    grid-template-rows: 1fr;

    @each $device, $breakpoint in $breakpoints {
      @media screen and (min-width: $breakpoint) {
        // Gap
        // ----------------------------
        @each $size, $val in $gaps {
          &[data-gap~="#{$device}:#{$size}"] {
            gap: pxToRem($val);
          }

          &[data-gap~="#{$device}:#{$size}Row"] {
            row-gap: pxToRem($val);
          }

          &[data-gap~="#{$device}:#{$size}Column"] {
            column-gap: pxToRem($val);
          }
        }

        // Repeat
        // ----------------------------

        @for $i from 1 through 5 {
          &[data-repeat~="#{$device}:#{$i}"] {
            grid-template-columns: repeat($i, 1fr);
          }
        }
      }
    }

    // Direction
    // ----------------------------
    &[data-dir="reverseRow"] {
      direction: rtl;
    }
  }

  // 共通設定
  // ----------------------------

  // Alignment(Container)
  // ----------------------------
  @each $device, $breakpoint in $breakpoints {
    @media screen and (min-width: $breakpoint) {
      &[data-align~="#{$device}:left"] {
        justify-content: flex-start;
      }

      &[data-align~="#{$device}:center"] {
        justify-content: center;
      }

      &[data-align~="#{$device}:right"] {
        justify-content: flex-end;
      }

      &[data-align~="#{$device}:justify"] {
        justify-content: space-between;
      }

      &[data-align~="#{$device}:top"] {
        align-items: flex-start;
      }

      &[data-align~="#{$device}:middle"] {
        align-items: center;
      }

      &[data-align~="#{$device}:bottom"] {
        align-items: flex-end;
      }
    }
  }

  // Grow
  // ----------------------------
  &[data-grow="1"] {
    flex-grow: 1;
  }

  &__item {
    display: flex;
    flex-direction: column;

    @each $device, $breakpoint in $breakpoints {
      @media screen and (min-width: $breakpoint) {
        // Alignment(Item)
        // ----------------------------
        &[data-align~="#{$device}:left"] {
          justify-self: flex-start;
        }

        &[data-align~="#{$device}:center"] {
          justify-self: center;
        }

        &[data-align~="#{$device}:right"] {
          justify-self: flex-end;
        }

        &[data-align~="#{$device}:top"] {
          align-self: flex-start;
        }

        &[data-align~="#{$device}:middle"] {
          align-self: center;
        }

        &[data-align~="#{$device}:bottom"] {
          align-self: flex-end;
        }

        @for $i from 0 through 3 {
          // Order
          // ----------------------------
          &[data-order~="#{$device}:#{$i}"] {
            order: $i;
          }
        }
      }
    }

    &.-bgLightGrey {
      background-color: #efefef;
    }

    &.-bgWhite {
      background-color: #fafafa;
    }

    &.-bgDark {
      background-color: #000;
    }
  }
}
