@charset 'UTF-8';
@use "sass:math";
@use "../../global" as *;

/*
  Button
*/
.c-button {
  $this: &;
  display: inline-block;
  border: 0;
  background-color: transparent;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  appearance: none;

  &.-primary {
    width: 100%;
    max-width: 220px;
    padding: pxToRem(24px) pxToRem(16px);
    border: 1px solid $primary-border-color;
    border-radius: 9999px;
    font-weight: 700;
  }

  //  Simple
  //--------------------------------------------

  &[data-animation="simple"] {
    transition-property: background-color, color, border-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;

    @include hover() {
      border-color: currentcolor;
      background-color: $md-grey-900;
      color: $base-color;
    }
  }

  //  Slide right
  //--------------------------------------------
  &[data-animation="slide:right"] {
    position: relative;
    overflow: hidden;
    background-color: $base-color; //mix-blend-modeを有効にするため

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translateX(-102%); //100%だと枠線が見えている時がある
      transition-property: transform;
      transition-duration: 0.3s;
      transition-timing-function: ease-in-out;
      background-color: $main-color;
      will-change: transform;
    }

    @include hover() {
      &:before {
        transform: translateX(0);
      }
    }

    & #{$this}__text {
      mix-blend-mode: difference;
      color: $base-color; //mix-blend-modeを有効にするため
    }
  }

  //  Slide Left
  //--------------------------------------------
  &[data-animation="slide:left"] {
    position: relative;
    overflow: hidden;
    background-color: $base-color; //mix-blend-modeを有効にするため

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translateX(102%);
      transition-property: transform;
      transition-duration: 0.3s;
      transition-timing-function: ease-in-out;
      background-color: $main-color;
      will-change: transform;
    }

    @include hover() {
      &:before {
        transform: translateX(0);
      }
    }

    & #{$this}__text {
      mix-blend-mode: difference;
      color: $base-color; //mix-blend-modeを有効にするため
    }
  }

  //  Slide Down
  //--------------------------------------------
  &[data-animation="slide:down"] {
    position: relative;
    overflow: hidden;
    background-color: $base-color; //mix-blend-modeを有効にするため

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translateY(-102%);
      transition-property: transform;
      transition-duration: 0.3s;
      transition-timing-function: ease-in-out;
      background-color: $main-color;
      will-change: transform;
    }

    @include hover() {
      &:before {
        transform: translateY(0);
      }
    }

    & #{$this}__text {
      mix-blend-mode: difference;
      color: $base-color; //mix-blend-modeを有効にするため
    }
  }

  //  Slide Up
  //--------------------------------------------
  &[data-animation="slide:up"] {
    position: relative;
    overflow: hidden;
    background-color: $base-color; //mix-blend-modeを有効にするため

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translateY(102%);
      transition-property: transform;
      transition-duration: 0.3s;
      transition-timing-function: ease-in-out;
      background-color: $main-color;
      will-change: transform;
    }

    @include hover() {
      &:before {
        transform: translateY(0);
      }
    }

    & #{$this}__text {
      mix-blend-mode: difference;
      color: $base-color; //mix-blend-modeを有効にするため
    }
  }

  //  Offset
  //--------------------------------------------
  &[data-animation="offset"] {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translate(1rem, 0.8rem);
      transition-property: transform;
      transition-duration: 0.3s;
      transition-timing-function: cubic-bezier(0.38, -0.39, 0, 0.79);
      border-radius: 9999px;
      background-color: #0000004d;
      will-change: transform;
    }

    @include hover() {
      &:before {
        transform: translate(0);
      }
    }

    & #{$this}__text {
      color: $main-color;
    }
  }

  // Arrow Slide Right
  //--------------------------------------------
  &[data-animation="arrowSlide:right"] {
    position: relative;
    overflow: hidden;
    background-color: $base-color; //mix-blend-modeを有効にするため

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $main-color;
    }

    &::before {
      transform: translateX(-102%);
      will-change: transform;
    }

    &::after {
      transform: translateX(102%);
      transition-property: transform;
      transition-duration: 0.3s;
      transition-timing-function: ease-in-out;
      will-change: transform, opacity;
    }

    @include hover() {
      &:before {
        transform: translateX(0);
        transition: 0.3s;
      }

      &::after {
        transform: translateX(0);
        opacity: 0;
      }
    }

    & #{$this}__text {
      position: relative;
      z-index: 1;
      mix-blend-mode: difference;
      color: $base-color; // ※黒と黒の場合、変化をもたらさない
    }
  }
}
