@charset 'UTF-8';
@use "sass:math";
@use "../../global" as *;

/*
  Button
*/
.c-button {
  $this: &;
  display: inline-block;
  border: 0;
  background-color: transparent;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  appearance: none;

  &.-primary {
    width: 100%;
    max-width: 220px;
    padding: pxToRem(16px);
    border: 1px solid $primary-border-color;
    border-radius: 9999px;
    font-weight: 700;
  }

  //  Simple
  //--------------------------------------------

  &[data-animation="simple"] {
    transition-property: background-color, color, border-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;

    @include hover() {
      border-color: currentcolor;
      background-color: $md-grey-900;
      color: $base-color;
    }
  }

  //  Slide Right
  //--------------------------------------------
  &[data-animation="slide:right"] {
    position: relative;
    overflow: hidden;
    background-color: $base-color; //mix-blend-modeを有効にするため

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translateX(-100%);
      transition-property: transform;
      transition-duration: 0.3s;
      transition-timing-function: ease-in-out;
      background-color: $main-color;
      will-change: transform;
    }

    @include hover() {
      &:before {
        transform: translateX(0);
      }
    }

    & #{$this}__text {
      mix-blend-mode: difference;
      color: $base-color; //mix-blend-modeを有効にするため
    }
  }

  //  Slide Left
  //--------------------------------------------
  &[data-animation="slide:left"] {
    position: relative;
    overflow: hidden;
    background-color: $base-color; //mix-blend-modeを有効にするため

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translateX(100%);
      transition-property: transform;
      transition-duration: 0.3s;
      transition-timing-function: ease-in-out;
      background-color: $main-color;
      will-change: transform;
    }

    @include hover() {
      &:before {
        transform: translateX(0);
      }
    }

    & #{$this}__text {
      mix-blend-mode: difference;
      color: $base-color; //mix-blend-modeを有効にするため
    }
  }

  //  Slide Down
  //--------------------------------------------
  &[data-animation="slide:down"] {
    position: relative;
    overflow: hidden;
    background-color: $base-color; //mix-blend-modeを有効にするため

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translateY(-100%);
      transition-property: transform;
      transition-duration: 0.3s;
      transition-timing-function: ease-in-out;
      background-color: $main-color;
      will-change: transform;
    }

    @include hover() {
      &:before {
        transform: translateY(0);
      }
    }

    & #{$this}__text {
      mix-blend-mode: difference;
      color: $base-color; //mix-blend-modeを有効にするため
    }
  }
}
