@charset 'UTF-8';
@use "sass:math";
@use "../../global" as *;

.c-hamburger {
  $this: &;
  border: none;
  background-color: transparent;
  appearance: none;
  cursor: pointer;

  // scaleBorder
  //--------------------------------------------
  &[data-animation="scaleBorder"] {
    --border: linear-gradient(#000 0 100%);
    position: relative;
    width: 100px;
    background-color: #fff;
    background-image: var(--border), var(--border), var(--border), var(--border);
    background-repeat: no-repeat;
    background-position: left top, right top, right bottom, left bottom;
    background-size: 100% 5px, 5px 100%;
    aspect-ratio: 1;

    &[aria-expanded="false"] {
      animation-name: scaleClose;
      animation-duration: 1.5s;
      /* ロード時にアニメーションさせない */
      animation-play-state: paused;
      animation-timing-function: cubic-bezier(0, 0.34, 1, 0.29);
      animation-fill-mode: forwards;
    }

    @keyframes scaleClose {
      20%,
      50% {
        background-size: 0% 5px, 5px 0%;
      }

      80% {
        background-size: 100% 5px, 5px 100%;
      }
    }

    & #{$this}__line {
      display: block;
      position: absolute;
      width: 50%;
      height: 5px;
      margin: auto;
      transition-property: background-color;
      transition-duration: 0.5s;
      transition-delay: 1.2s;
      background-color: #000;
      inset: 0;
    }

    & #{$this}__line::before,
    & #{$this}__line::after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      transition-property: transform;
      transition-duration: 0.3s;
      transition-delay: 0.5s;
      background-color: #000;
    }

    & #{$this}__line::before {
      transform: translateY(-15px);
    }

    & #{$this}__line::after {
      transform: translateY(15px);
    }

    &[aria-expanded="true"] {
      animation-name: scaleOpen;
      animation-duration: 1.5s;
      animation-fill-mode: forwards;
      animation-timing-function: cubic-bezier(0, 0.34, 1, 0.29);
    }

    @keyframes scaleOpen {
      20%,
      50% {
        background-size: 0% 5px, 5px 0%;
      }

      80% {
        background-size: 100% 5px, 5px 100%;
      }
    }

    &[aria-expanded="true"] #{$this}__line {
      transition-delay: 0.3s;
      background-color: transparent;
    }

    &[aria-expanded="true"] #{$this}__line::before {
      transform: rotate(45deg);
    }

    &[aria-expanded="true"] #{$this}__line::after {
      transform: rotate(-45deg);
    }
  }

  // snakeCircle
  //--------------------------------------------
  &[data-animation="snakeCircle"] {
    position: relative;
    width: 100px;
    transition-property: transform, background-size;
    transition-duration: 1.5s;
    transition-timing-function: ease-in-out, cubic-bezier(0.46, 0.26, 0, 1.04);
    transition-delay: 0s, 0.5s;
    border-radius: 50%;
    background-color: #fff;
    background-image: radial-gradient(#000 0 100%, transparent);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    aspect-ratio: 1;

    &::before {
      content: "";
      position: absolute;
      /* 枠線の幅 */
      width: 90%;
      margin: auto;
      border-radius: 9999px;
      background-color: #fff;
      pointer-events: none;
      inset: 0;
      aspect-ratio: 1;
    }

    & #{$this}__midLine::before {
      --border: linear-gradient(#000 0 100%);
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      margin: auto;
      transition-property: opacity, background-position, background-size;
      transition-duration: 0.5s;
      transition-timing-function: ease-in-out;
      transition-delay: 0s, 0.5s, 0.5s;
      background-image: var(--border), var(--border);
      background-repeat: no-repeat;
      background-position: 33.5% center, 66.5% center;
      background-size: 25% 5px;
      inset: 0;
    }

    & #{$this}__line {
      display: block;
      position: absolute;
      width: 50%;
      height: 5px;
      margin: auto;
      inset: 0;
    }

    & #{$this}__line::before,
    & #{$this}__line::after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      transition-property: transform;
      transition-duration: 0.5s;
      transition-timing-function: ease-in-out;
      background-color: #000;
    }

    & #{$this}__line::before {
      transform: translateY(-15px);
    }

    & #{$this}__line::after {
      transform: translateY(15px);
    }

    &[aria-expanded="true"] {
      transform: rotate(360deg);
      background-size: 100% 100%;
    }

    &[aria-expanded="true"] #{$this}__midLine::before {
      transition-delay: 1s, 0s, 0.5s;
      opacity: 0;
      background-position: 0% 50%, 100% 50%;
      background-size: 0% 5px;
    }

    &[aria-expanded="true"] #{$this}__line::before {
      transform: rotate(45deg);
      transition-delay: 0.75s;
    }

    &[aria-expanded="true"] #{$this}__line::after {
      transform: rotate(-45deg);
      transition-delay: 0.75s;
    }
  }

  // Move Repaint
  //--------------------------------------------
  &[data-animation="moveRepaint"] {
    position: relative;
    width: 100px;
    aspect-ratio: 1;

    & #{$this}__line {
      --lineWidth: calc((100 / 2) * 1px);
      display: block;
      position: absolute;
      width: var(--lineWidth);
      height: 5px;
      margin: auto;
      inset: 0;
    }

    & #{$this}__line.-top::before,
    & #{$this}__line.-middle::before,
    & #{$this}__line.-bottom::before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #000;
    }

    & #{$this}__line.-top::before {
      top: -15px;
    }

    &.is-play #{$this}__line.-top::before {
      animation-name: moveUp;
      animation-duration: 0.8s;
    }

    @keyframes moveUp {
      0% {
        top: 0;
        transform: scaleX(0.3) scaleY(3);
        transform-origin: center;
        border-radius: 50%;
        opacity: 0;
      }

      10% {
        top: 0;
        transform: scaleX(0.3) scaleY(3);
        transform-origin: center;
        border-radius: 50%;
        opacity: 0;
      }

      30% {
        top: -45px;
        transform: scaleX(0.3) scaleY(3);
        transform-origin: center;
        border-radius: 50%;
      }

      50%,
      100% {
        top: -15px;
        transform: scaleX(1) scaleY(1);
        transform-origin: center;
        border-radius: 0;
        opacity: 1;
      }
    }

    & #{$this}__line.-middle::before {
      top: 0;
    }

    & #{$this}__line.-bottom::before {
      bottom: -15px;
    }

    & #{$this}__line.-middle::before,
    & #{$this}__line.-bottom::before {
      transition-property: transform, background-color, top;
      transition-duration: 0.3s;
    }

    &[aria-expanded="true"] #{$this}__line.-top::before {
      animation-name: moveRepaint;
      animation-duration: 0.7s;
      animation-fill-mode: forwards;
    }

    @keyframes moveRepaint {
      30% {
        top: -15px;
        transform: scaleX(0.3) scaleY(3);
        transform-origin: right;
        border-radius: 50%;
        background-color: #ff8309;
      }

      50% {
        top: -15px;
        transform: scaleX(0.3) scaleY(3) translateY(-15px);
        transform-origin: right;
        border-radius: 50%;
        background-color: #ff8309;
      }

      70% {
        top: -15px;
        transform: scaleX(0.2) scaleY(2) translateY(5px);
        transform-origin: right;
        border-radius: 50%;
        opacity: 1;
        background-color: #ff8309;
      }

      90% {
        top: -15px;
        transform: scaleX(0.1) scaleY(1) translateY(5px);
        transform-origin: right;
        border-radius: 50%;
        opacity: 0;
        background-color: #ff8309;
      }

      100% {
        top: -15px;
        transform: scaleX(0) scaleY(0) translateY(5px);
        transform-origin: right;
        border-radius: 50%;
        opacity: 0;
        background-color: #ff8309;
      }
    }

    &[aria-expanded="true"] #{$this}__line.-middle::before {
      top: -15px;
      transform: translateY(10px) rotate(45deg);
      background-color: #ff8309;
    }

    &[aria-expanded="true"] #{$this}__line.-bottom::before {
      transform: translateY(-20px) rotate(-45deg);
      background-color: #ff8309;
    }

    &[aria-expanded="true"] #{$this}__line.-bottom::before,
    &[aria-expanded="true"] #{$this}__line.-middle::before {
      transition-delay: 0.4s, 0.3s, 0.4s;
    }
  }
}
