@charset 'UTF-8';
@use "sass:math";
@use "../../global" as *;

.c-loading {
  $this: &;

  // Pulse
  //--------------------------------------------

  &[data-animation="pulse"] {
    & #{$this}__inner {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      gap: 0.5rem;
    }

    & #{$this}__ball {
      display: block;
      position: relative;
      align-self: center;
      width: 1.5rem;
      height: 1.5rem;
      animation-name: pulse;
      animation-duration: 1s;
      animation-timing-function: cubic-bezier(0, -0.4, 0.69, 0.1);
      animation-iteration-count: infinite;
      border-radius: 50%;
      background-color: $twitter-color;
    }

    @for $i from 1 through 3 {
      & #{$this}__ball.-ball#{$i} {
        @if $i==1 {
          animation-delay: 0s;
        } @else {
          animation-delay: $i * 0.1s;
        }
      }
    }

    @keyframes pulse {
      0% {
        transform: scale(1);
      }

      45% {
        transform: scale(0.5);
        opacity: 0.7;
      }

      80% {
        transform: scale(1);
        opacity: 1;
      }
    }
  }

  // Scale Repeat
  //--------------------------------------------
  &[data-animation="scale:repeat"] {
    & #{$this}__inner {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      gap: 0.5rem;
    }

    & #{$this}__ball {
      display: block;
      width: 1.5rem;
      height: 1.5rem;
      transform: scale(0);
      animation-name: scaleRepeat;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      border-radius: 50%;
      background-color: $twitter-color;

      &.-ball2 {
        animation-delay: 0.3s;
      }

      &.-ball3 {
        grid-column-end: 3;
        grid-column-start: 1;
        justify-self: center;
        animation-delay: 0.4s;
      }

      @keyframes scaleRepeat {
        0% {
          transform: scale(0.2);
          opacity: 1;
        }

        100% {
          transform: scale(2.5);
          opacity: 0;
        }
      }
    }
  }

  // Loading
  //--------------------------------------------

  &[data-animation="loading"] {
    position: relative;
    width: 50%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    border: 1px solid $main-color;
    background-color: $base-color;

    &::before {
      content: "0%";
      display: flex;
      position: relative;
      z-index: 2;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      animation-name: loadingPercentage;
      animation-duration: 10s;
      animation-timing-function: linear;
      color: $base-color;
      font-size: 1.25rem;
      font-weight: 700;
      animation-fill-mode: forwards;
      mix-blend-mode: difference;

      @keyframes loadingPercentage {
        @for $i from 0 through 100 {
          $percentage: $i + "%";

          #{$percentage} {
            content: $percentage;
          }
        }
      }
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform-origin: left;
      animation-name: slide;
      animation-duration: 10s;
      animation-timing-function: linear;
      background-color: $main-color;
      animation-fill-mode: forwards;

      @keyframes slide {
        0% {
          transform: scaleX(0); //scaleではなく、scaleX！！
        }

        100% {
          transform: scaleX(1);
        }
      }
    }
  }

  // Split:4
  //--------------------------------------------
  &[data-animation="split:4"] {
    & #{$this}__inner {
      position: relative;
    }

    & #{$this}__hero {
      display: grid;
      width: 100%;
      margin: 0 auto;
    }

    & #{$this}__figure,
    & #{$this}__body {
      grid-area: 1 / -1;
    }

    & #{$this}__body {
      margin: auto 0;
    }

    & #{$this}__text {
      display: inline-block;
      position: relative;
      animation-name: splitFadeIn;
      animation-duration: 1s;
      animation-delay: 0.8s;
      opacity: 0;
      color: #fff;
      font-size: pxToRem(24px);
      font-weight: 700;
      text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
      animation-fill-mode: forwards;

      @keyframes splitFadeIn {
        0% {
          opacity: 0;
        }

        100% {
          opacity: 1;
        }
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        animation-name: loadingRevealCover;
        animation-duration: 1.5s;
        animation-timing-function: ease-in-out;
        animation-delay: 1s;
        background-color: #fff;
        animation-fill-mode: forwards;
      }

      @keyframes loadingRevealCover {
        0% {
          transform: scaleX(1);
          transform-origin: left;
        }

        100% {
          transform: scaleX(0);
          transform-origin: left;
        }
      }
    }

    & #{$this}__split {
      position: absolute;
      inset: 0;
      overflow: hidden;
    }

    & #{$this}__line {
      z-index: 9999;
      width: 100%;
      height: math.div(100%, 4);
      margin: 0 auto;
      animation-name: splitSlide;
      animation-duration: 0.8s;

      animation-timing-function: ease-out;
      background-color: #fff;
      animation-fill-mode: forwards;
      will-change: contents;

      &.-line1 {
        animation-delay: 0.3s;
      }

      &.-line2 {
        animation-delay: 0.2s;
      }

      &.-line3 {
        animation-delay: 0.1s;
      }
    }

    @keyframes splitSlide {
      0% {
        z-index: 9999;
        transform: translate3d(0, 0, 0);
      }

      100% {
        z-index: -9999;
        transform: translate3d(-110%, 0, 0);
      }
    }
  }

  // Single
  //--------------------------------------------

  &[data-animation="single"] {
    width: 10rem;
    height: 8rem;
    animation-name: dotBack, dotMove;
    animation-duration: 4s, 2s;
    animation-timing-function: steps(1);
    animation-iteration-count: infinite;
    background-image: conic-gradient($spotify-color 0% 50%, $twitter-color 50% 100%),
      conic-gradient($md-deep-purple-400 0% 50%, $md-amber-a700 50% 100%);
    background-repeat: no-repeat, no-repeat;
    background-size: 200% 50%;
    background-position-x: 0%, 0%;
    background-position-y: 0%, 100%;

    -webkit-mask-image: radial-gradient(#000 69%, transparent 70.71%), radial-gradient(#000 69%, transparent 70.71%),
      radial-gradient(#000 69%, transparent 70.71%);
    -webkit-mask-repeat: no-repeat, no-repeat, no-repeat;
    -webkit-mask-size: 25% 31.25%;
    -webkit-mask-position-x: 0%, 50%, 100%;
    -webkit-mask-position-y: 0%, 0%, 0%;

    @keyframes dotMove {
      0% {
        -webkit-mask-position-y: 0%, 0%, 0%;
      }

      16.67% {
        -webkit-mask-position-y: 100%, 0%, 0%;
      }

      33.33% {
        -webkit-mask-position-y: 100%, 100%, 0%;
      }

      50% {
        -webkit-mask-position-y: 100%, 100%, 100%;
      }

      66.67% {
        -webkit-mask-position-y: 0%, 100%, 100%;
      }

      83.33% {
        -webkit-mask-position-y: 0%, 0%, 100%;
      }

      100% {
        -webkit-mask-position-y: 0%, 0%, 0%;
      }
    }

    @keyframes dotBack {
      0% {
        background-position-x: 0%, 0%;
      }

      25% {
        background-position-x: 100%, 0%;
      }

      50% {
        background-position-x: 100%, 100%;
      }

      100% {
        background-position-x: 0%, 0%;
      }
    }
  }

  // Move Midpoint
  //--------------------------------------------
  &[data-animation="move:midpoint"] {
    width: 10rem;
    height: 10rem;
    animation-name: moveMidpoint;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    background-image: conic-gradient(
      from 45deg,
      $spotify-color 0 25%,
      $md-deep-purple-400 25% 50%,
      $twitter-color 50% 75%,
      $md-amber-a700 75% 100%
    );
    background-repeat: no-repeat;

    -webkit-mask-image: radial-gradient(farthest-side, #000 95%, transparent);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 35% 35%;
    -webkit-mask-position: left;
  }

  @keyframes moveMidpoint {
    25% {
      -webkit-mask-position: top;
    }

    50% {
      -webkit-mask-position: right;
    }

    75% {
      -webkit-mask-position: bottom;
    }
  }

  // Fusion
  //--------------------------------------------
  &[data-animation="fusion"] {
    --circle: radial-gradient(farthest-side, #{$twitter-color} 95%, transparent);
    width: 15rem;
    height: 15rem;
    animation-name: moveCenter, fusion;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    background-image: var(--circle), var(--circle), var(--circle), var(--circle);
    background-repeat: no-repeat;
    background-size: 20% 20%;
    background-position-x: 50%, 100%, 50%, 0%;
    background-position-y: 0%, 50%, 100%, 50%;

    @keyframes fusion {
      0%,
      25%,
      90% {
        background-size: 20% 20%;
      }

      40%,
      45% {
        background-size: 30% 30%, 20% 20%, 20% 20%, 20% 20%;
      }

      60%,
      65% {
        background-size: 40% 40%, 20% 20%, 20% 20%, 20% 20%;
      }

      80% {
        background-size: 50% 50%, 20% 20%, 20% 20%, 20% 20%;
      }
    }

    @keyframes moveCenter {
      0%,
      100% {
        background-position-x: 50%, 100%, 50%, 0%;
        background-position-y: 0%, 50%, 100%, 50%;
      }

      20% {
        background-position-x: 50%, 100%, 50%, 0%;
        background-position-y: 50%, 50%, 100%, 50%;
      }

      40% {
        background-position-y: 50%, 50%, 100%, 50%;
        background-position-x: 50%, 50%, 50%, 0%;
      }

      60% {
        background-position-y: 50%, 50%, 50%, 50%;
        background-position-x: 50%, 50%, 50%, 0%;
      }

      80% {
        background-position-y: 50%, 50%, 50%, 50%;
        background-position-x: 50%, 50%, 50%, 50%;
      }
    }
  }

  // Lattice Scale
  //--------------------------------------------

  &[data-animation="latticeScale"] {
    --circle: radial-gradient(farthest-side, #{$twitter-color} 95%, transparent);
    width: 10rem;
    height: 10rem;
    animation-name: latticeScale;
    animation-duration: 2.5s;
    animation-timing-function: cubic-bezier(0.46, 0.43, 0.12, 0.58);
    animation-iteration-count: infinite;
    background-image: var(--circle), var(--circle), var(--circle), var(--circle), var(--circle), var(--circle),
      var(--circle), var(--circle), var(--circle);
    background-repeat: no-repeat;
    background-position: left top, center top, right top, left center, center center, right center, left bottom,
      center bottom, right bottom;
    background-size: 10% 10%;

    @keyframes latticeScale {
      0%,
      100% {
        background-size: 30% 30%, 10% 10%, 10% 10%, 10% 10%, 10% 10%, 30% 30%, 30% 30%, 10% 10%, 10% 10%;
      }

      12% {
        background-size: 30% 30%, 10% 10%, 30% 30%, 10% 10%, 10% 10%, 10% 10%, 10% 10%, 30% 30%, 10% 10%;
      }

      24% {
        background-size: 30% 30%, 30% 30%, 10% 10%, 10% 10%, 10% 10%, 10% 10%, 10% 10%, 10% 10%, 10% 10%;
      }

      36% {
        background-size: 10% 10%, 30% 30%, 10% 10%, 10% 10%, 10% 10%, 10% 10%, 10% 10%, 10% 10%, 30% 30%;
      }

      48% {
        background-size: 10% 10%, 10% 10%, 10% 10%, 30% 30%, 10% 10%, 10% 10%, 10% 10%, 30% 30%, 30% 30%;
      }

      60% {
        background-size: 10% 10%, 10% 10%, 10% 10%, 30% 30%, 10% 10%, 10% 10%, 30% 30%, 10% 10%, 30% 30%;
      }

      72% {
        background-size: 10% 10%, 10% 10%, 10% 10%, 10% 10%, 30% 30%, 10% 10%, 30% 30%, 10% 10%, 10% 10%;
      }

      84% {
        background-size: 10% 10%, 30% 30%, 10% 10%, 10% 10%, 10% 10%, 10% 10%, 30% 30%, 10% 10%, 10% 10%;
      }
    }
  }

  // Spinning Bar
  //--------------------------------------------
  &[data-animation="spinningBar"] {
    /*
        子要素や擬似要素が.c-loaderの領域全体を覆うようにする
        align-itemsの初期値がnormal(stretchのような振る舞い)であるため
      */
    display: grid;
    /* 常に正方形を保つ */
    width: 10rem;
    /* mask: conic-gradient(from 22deg, #0003, #000); */

    /* アニメーションの設定 */
    animation-name: spinning;
    animation-duration: 1s;
    animation-timing-function: steps(8);
    /* バーが8本あるから */
    animation-iteration-count: infinite;
    aspect-ratio: 1;

    /* 不透明度を持つスピニングバーを作成 */
    -webkit-mask-image: conic-gradient(from 20deg, #0003, #{$twitter-color});

    @keyframes spinning {
      /* 一周する */
      100% {
        transform: rotate(1turn);
      }
    }

    &,
    &::before {
      /* 8本のスピニングバーを作成 */
      --bar: linear-gradient(#{$twitter-color} 0 0);
      background-image: var(--bar), var(--bar);
      background-repeat: space no-repeat, no-repeat space;
      background-size: 34% 8%, 8% 34%;
      background-position-x: 50%;
      background-position-y: 50%;
    }

    &::before {
      content: "";
      transform: rotate(45deg);
    }
  }

  // Spinning Dot
  //--------------------------------------------

  &[data-animation="spinningDot"] {
    display: grid;
    width: 10rem;
    animation-name: spinningDot;
    animation-duration: 1s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    aspect-ratio: 1;
    // 1個のドットが円形の経路を移動しながら、
    // その後ろに薄くなっていくドットの軌跡を残しているような印象を与える
    -webkit-mask-image: conic-gradient(from 15deg, rgba(0, 0, 0, 0.3), #000);

    @keyframes spinningDot {
      100% {
        transform: rotate(1turn);
      }
    }

    &,
    &::before,
    &::after {
      // circle closest-sideはグラデーションの図形がボックスの中心から最も近い辺と接する
      // ✍️今回の場合、background-sizeの値が「20% 80%」のため,直径32pxの円ができる、

      background-image: radial-gradient(circle closest-side, #ee963e 100%, transparent),
        radial-gradient(circle closest-side, #ee963e 100%, transparent);
      background-repeat: repeat-x, repeat-y;
      background-position: -150% 50%, 50% -150%;
      background-size: 80% 20%, 20% 80%;
    }

    &::before,
    &::after {
      content: "";
      grid-area: 1 /1;
    }

    &::before {
      transform: rotate(30deg);
    }

    &::after {
      transform: rotate(60deg);
    }
  }

  // Mask Slide
  //--------------------------------------------

  &[data-animation="maskSlide"] {
    width: 100%;
    animation-name: maskSlide;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    background-image: url(../img/common/24022618_s.jpg);
    background-repeat: no-repeat;
    aspect-ratio: 1;
    -webkit-mask-image: linear-gradient(to right, #000 var(--mask-start, 0%), #0000 var(--mask-end, 0%));

    @keyframes maskSlide {
      @for $i from 1 through 100 {
        $percentage: $i + "%";
        $end: ($i * 1.1) + "%";

        #{ $percentage} {
          opacity: $i * 0.01;
          --mask-start: #{$percentage};
          --mask-end: #{$end};
        }
      }
    }
  }
}
